@use "./../general/index" as i;

.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: i.$gap-unit-small;
  width: 40px;
  height: 40px;
  border-radius: i.$border-radius-small;

  &__elem {
    content: "";
    display: block;
    width: 22px;
    height: 2px;
    background-color: i.$clr-dark;
    transition: i.$transition;
  }

  &.close {
    & > span:first-child {
      position: absolute;
      transform: rotate(45deg);
    }

    & > span:last-child {
      position: absolute;
      transform: rotate(-45deg);
    }
  }
}
