@use './../general/index' as i;

.btn {
    @include i.actionText(i.$fs-action-small, i.$clr-white);
    display: inline-block;
    background-color: i.$clr-dark;
    border-radius: i.$border-radius-large;
    padding: i.$gap-unit-large calc(i.$gap-unit-large * 2);
}

@include i.break(i.$breakpoint-desktop) {
    .btn {
        transition: i.$transition;

        &:hover {
            color: i.$clr-dark;
            background-color: i.$clr-white;
        }
    }
}
