@use "./../general/index" as i;

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: i.$gap-unit-medium;

  &__link {
    flex: 1 0 100%;
  }

  &__card {
    text-align: center;
    background-color: i.$clr-content-bg;
    border-radius: i.$border-radius-large;
    box-shadow: 0 0 10px i.$clr-dark-opacity;
    padding: i.$gap-unit-large;

    & > span {
      display: block;
    }

    & > * + * {
      margin-top: i.$gap-unit-medium;
    }
  }

  &__title {
    @include i.titleText(i.$fs-h3, i.$clr-dark);
  }

  &__subtitle {
    @include i.titleText(i.$fs-h4, i.$clr-dark);
  }

  &__img > img {
    margin: 0 auto;
  }
}

@include i.break(i.$breakpoint-tablet + 200px) {
  .contacts {

    &__link {
      flex: 1;
    }
  }
}


@include i.break(i.$breakpoint-desktop) {
  .contacts {

    &__link > * {
      transition: i.$transition;
      cursor: pointer;

      &:hover {
        background-color: i.$clr-primary-opacity;
      }
    }
  }
}
