@use "./../general/index" as i;

.gifts-card {
  max-width: 310px;
  background-color: i.$clr-content-bg;
  border-radius: i.$border-radius-large;

  &__info {
    display: flex;
    flex-direction: column;
    height: 112px;
    text-align: left;
    background-color: i.$clr-white;
    border-radius: i.$border-radius-large;
    padding: 20px;
  }

  &__tag {
    @include i.actionText(i.$fs-action-small, i.$clr-primary);
    display: inline-block;
    font-size: i.$fs-action-small;
    text-transform: uppercase;
    margin-bottom: i.$gap-unit-small;
  }

  &__tag[tag~="for-work"] {
    color: i.$clr-tag-first;
  }

  &__tag[tag~="for-health"] {
    color: i.$clr-tag-third;
  }

  &__tag[tag~="for-harmony"] {
    color: i.$clr-tag-second;
  }

  &__title {
    @include i.titleText(i.$fs-h3, i.$clr-dark);
    letter-spacing: i.$letter-space-caption;
  }
}

@include i.break(i.$breakpoint-desktop) {
  .gifts-card {
    cursor: pointer;

    &:hover h2 {
      color: i.$clr-primary;
    }

    &:hover > &__img {
      background-color: i.$clr-primary-opacity;
    }

    &__title,
    &__img {
      transition: i.$transition;
    }
  }
}
