@use "./../general/index" as i;

.logo {
  @include i.actionText(i.$fs-action-small, i.$clr-dark);
  display: flex;
  align-items: center;
  gap: i.$gap-unit-small;
  border-radius: i.$border-radius-small;
  padding: i.$gap-unit-small i.$gap-unit-large;

  &__img {
    display: inline-block;
  }
}
