@use "./../general/index" as i;

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: i.$gap-unit-small;
    transition: i.$transition;

    &__link {
      @include i.actionText(i.$fs-action-large, i.$clr-dark);
      border-radius: i.$border-radius-small;
      padding: i.$gap-unit-medium i.$gap-unit-large;

      &.disabled-link {
        pointer-events: none;
        cursor: default;
      }

      &.active-link {
        color: i.$clr-primary;
        background-color: i.$clr-primary-opacity;
      }
    }
  }


@include i.break(i.$breakpoint-tablet + 1px) {
  .nav-list {
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;

    &__link {
      font-size: i.$fs-action-small;
      transition: i.$transition;

      &:hover {
        color: i.$clr-primary;
        background-color: i.$clr-primary-opacity;
      }
    }
  }
}
