@use "./../general/index" as i;

.slider {
  position: relative;

  &__list {
    height: 200px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: i.$gap-unit-large;
    margin-bottom: i.$gap-unit-large;
    transition: i.$transition;
  }

  &__slide {
    display: flex;
    align-items: center;
    gap: i.$gap-unit-large;
    flex-shrink: 0;
  }

  &__item-text {
    @include i.titleText(i.$fs-slider-text, i.$clr-white);
    letter-spacing: i.$letter-space-caption;
  }

  &__item-img {
    flex-shrink: 0;

    & > img {
      width: 200px;
      height: 200px;
      border-radius: i.$border-radius-large;
    }
  }

  &__btns {
    text-align: right;
    height: 56px;

    & > button {
      width: 54px;
      height: 54px;
      border: 1px solid i.$clr-white;
      border-radius: i.$border-radius-large;

      & svg {
        stroke: i.$clr-white;
        margin: 0 auto;
      }
    }
  }

  &__btn:first-child {
    transform: rotate(180deg);
    margin-right: i.$gap-unit-large;
  }
}

@include i.break(i.$breakpoint-desktop) {
  .slider {
    &__btns > * {
      transition: i.$transition;
    }

    &__btn:hover {
      background-color: i.$clr-white;

      & > svg {
        stroke: i.$clr-primary;
      }
    }
  }
}

.slider-btn_disable {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}
