@use "./../general/index" as i;

.social-list {
  display: flex;
  justify-content: center;
  gap: i.$gap-unit-medium;

  &__link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: i.$border-radius-small;

    & > svg {
      stroke: i.$clr-dark;
      margin: auto;
    }
  }
}

@include i.break(i.$breakpoint-desktop) {
  .social-list {
    &__link {
      & > svg {
        transition: i.$transition;
      }

      &:hover > svg {
        stroke: i.$clr-primary;
      }
    }
  }
}
