@use "./../general/index" as i;

.timer {
  display: flex;
  width: max-content;
  color: i.$clr-white;
  background-color: i.$clr-white-opacity-mid;
  border-radius: i.$border-radius-large;
  padding: i.$gap-unit-medium;
  padding-top: i.$gap-unit-small;
  margin: 0 auto;

  &__part > span {
    display: block;
  }

  &__number {
    @include i.titleText(i.$fs-h2, i.$clr-white);
  }

  &__label {
    @include i.actionText(i.$fs-action-small, i.$clr-white);
  }

  &__part {
    position: relative;
    min-width: 80px;
  }

  &__part::before {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 1px;
    height: 20px;
    content: "";
    background-color: i.$clr-white-opacity-mid;
    border-radius: i.$border-radius-small;
  }

  &__part:last-child::before {
    display: none;
  }
}
