@use './../general/index' as i;

.to-top-btn {
    visibility: hidden;
    display: flex;
    width: 56px;
    height: 56px;
    position: fixed;
    right: i.$gap-unit-small;
    bottom: i.$gap-unit-small;
    border-radius: 50%;
    border: 1px solid i.$clr-primary;
    background-color: i.$clr-white;

    & > svg {
        stroke: i.$clr-primary;
        margin: auto;
    }

    &.show-btn {
        visibility: visible;
    }
}

@include i.break(i.$breakpoint-tablet + 1px) {
    .to-top-btn.show-btn {
        visibility: hidden;
    }
}