@use "./general/index" as i;

body {
  font-family: i.$ff-text;
  font-size: i.$fs-text;
  line-height: i.$line-height-text;
  color: i.$clr-dark;
  background-color: i.$clr-white;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.main {
  background-color: i.$clr-primary;
  border-radius: i.$border-radius-large;
  overflow-x: hidden;
}

.main-bg-img {
  background-image: url(images/bg-snow.png);
  background-position: center;
  background-size: contain;
  background-repeat: repeat-y;
}

.container {
  width: 90%;
  max-width: 1276px;
  margin: 0 auto;
}

.disable {
  pointer-events: none;
  cursor: default;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

@include i.break(i.$breakpoint-mobile) {
  .wrapper {
    min-width: 364px;
  }
}

@include i.break(i.$breakpoint-tablet) {
  .wrapper {
    min-width: 752px;
  }
}

@include i.break(i.$breakpoint-desktop) {
  button,
  a {
    cursor: pointer;
  }
}
