@use "./../general/index" as i;

.about {
  max-width: 630px;
  background-color: i.$clr-white;
  border-radius: i.$border-radius-large;

  &__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-block: i.$gap-unit-extra-large;
  }

  &__text {
    margin: i.$gap-unit-extra-large i.$gap-unit-large;

    & > * + * {
      margin-top: i.$gap-unit-large;
    }
  }

  &__caption {
    @include i.captionText(i.$clr-primary);
  }

  &__title {
    @include i.titleText(i.$fs-h2, inherit);
  }

  &__img {
    height: 528px;
    border-radius: i.$border-radius-large;
    overflow: hidden;

    & > img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: inherit;
      height: inherit;
    }
  }
}

@include i.break(i.$breakpoint-tablet) {
  .about {
    max-width: inherit;

    &__content-wrapper {
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      gap: i.$gap-unit-large;

      & > * {
        flex: 1;
      }
    }

    &__text {
      & > * {
        max-width: 426px;
      }
    }
  }
}

@include i.break(i.$breakpoint-desktop - 300px) {
  .about {
    &__text {
      margin: 0;
      margin-left: i.$gap-unit-extra-large;
    }
  }
}
