@use './../general/index' as i;

.best-gifts {
    text-align: center;
    padding-block: i.$gap-unit-extra-large;

    &__caption {
        @include i.captionText(i.$clr-white);
        margin-bottom: i.$gap-unit-medium;
      }

      &__title {
        @include i.titleText(i.$fs-h2, i.$clr-white);
        margin-bottom: i.$gap-unit-large;
      }

}