@use "./../general/index" as i;

.countdown {
    text-align: center;
    padding-block: i.$gap-unit-extra-large;

  &-bg {
    background-image: url(images/bg-forest.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: i.$gap-unit-extra-large;
  }

  &__content-wrapper {
    max-width: 426px;
    padding-block: i.$gap-unit-extra-large;
    margin: 0 auto;
  }

  &__title {
    @include i.titleText(i.$fs-h2, i.$clr-white);
    margin-bottom: i.$gap-unit-large;
  }

  &__caption {
    @include i.captionText(i.$clr-white);
  }

  &__btn {
    margin-bottom: i.$gap-unit-large;
  }

  &__timer {
    margin-top: i.$gap-unit-small;
  }
}
