@use './../general/index' as i;

.footer {
    padding-block: i.$gap-unit-extra-large;

    &__contacts {
        margin-bottom: i.$gap-unit-extra-large;
    }

    &__social-links {
        margin-bottom: i.$gap-unit-medium;
    }

    &__info {
        text-align: center;
    }

    &__copyright {
        display: block;
        margin-bottom: i.$gap-unit-medium;
    }

    &__caption {
        @include i.captionText(i.$clr-dark);
    }
}


@include i.break(i.$breakpoint-desktop) {
    .footer {

        &__caption {
            transition: i.$transition;

            &:hover {
                color: i.$clr-primary;
            }
        }
    }
}
