@use './../general/index' as i;

.gifts-hero {
    color: i.$clr-white;

    &-bg {
        background-image: url(images/bg-garland.png);
        background-position: center top;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__content-wrapper {
        max-width: 426px;
        text-align: center;
        padding: i.$gap-unit-extra-large 0 i.$gap-unit-large;
        margin: 0 auto;
    }

    &__title {
        @include i.titleText(i.$fs-h1, i.$clr-white);
        margin-bottom: i.$gap-unit-medium;
    }
}