@use "./../general/index" as general;

.header {
  padding-block: general.$gap-unit-medium;
  overflow: hidden;

    &__content {
      position: relative;
    }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@include general.break(general.$breakpoint-tablet + 1px) {
  .header {
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__links {
      display: block;
    }

    &__burger-menu {
      display: none;
    }
  }
}
