@use "./../general/index" as i;

.hero {
  padding-block: i.$gap-unit-extra-large;

  &-bg {
    background-image: url(images/bg-ball.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content-wrapper {
    max-width: 420px;
    text-align: center;
    padding-block: i.$gap-unit-extra-large;
    margin: 0 auto;

    & > * + * {
      margin-top: i.$gap-unit-medium;
    }
  }

  &__title {
    @include i.titleText(i.$fs-h1, i.$clr-white);
  }

  &__caption {
    @include i.captionText(i.$clr-white);
  }
}
