$clr-primary: rgba(255, 70, 70, 1);
$clr-primary-opacity: rgba(255, 70, 70, 0.1);
$clr-dark: rgba(24, 28, 41, 1);
$clr-dark-opacity: rgba(24, 28, 41, 0.8);
$clr-white: rgba(255, 255, 255, 1);
$clr-white-opacity-mid: rgba(255, 255, 255, 0.4);
$clr-white-opacity-large: rgba(255, 255, 255, 0.2);
$clr-tag-first: rgba(67, 97, 255, 1);
$clr-tag-second: rgba(255, 67, 247, 1);
$clr-tag-third: rgba(6, 164, 79, 1);
$clr-content-bg: rgba(236, 243, 248, 1);
