$ff-cursive: "Allura";
$ff-text: "Montserrat-Regular";
$ff-title: "Montserrat-SemiBold";

$fs-h1: 2rem;
$fs-h2: 1.5rem;
$fs-h3: 1rem;
$fs-h4: 0.75rem;
$fs-text: 1rem;
$fs-action-large: 1.5rem;
$fs-action-small: 0.75rem;
$fs-caption: 1.5rem;
$fs-slider-text: 5rem;

$fw-regular: 400;
$fw-bold: 600;

$letter-space-title: 0.16em;
$letter-space-text: 0.1em;
$letter-space-caption: 0.05em;

$line-height-title: 130%;
$line-height-text: 150%;
$line-height-caption: 100%;


@mixin actionText($font-size, $color) {
    font-size: $font-size;
    color: $color;
    font-family: $ff-title;
    line-height: $line-height-title;
    letter-spacing: $letter-space-caption;
    text-transform: uppercase;
}

@mixin titleText($font-size, $color) {
    font-size: $font-size;
    color: $color;
    font-family: $ff-title;
    line-height: $line-height-title;
    letter-spacing: $letter-space-title;
    text-transform: uppercase;
}

@mixin captionText($color) {
    color: $color;
    display: inline-block;
    font-size: $fs-caption;
    font-family: $ff-cursive;
    line-height: $line-height-caption;
    letter-spacing: $letter-space-caption;
}