$ff-cursive: "Allura";
$ff-text: "Montserrat-Regular";
$ff-title: "Montserrat-SemiBold";

$fs-h1: 2rem;
$fs-h2: 1.5rem;
$fs-h3: 1rem;
$fs-h4: 0.75rem;
$fs-text: 1rem;
$fs-action-large: 1.5rem;
$fs-action-small: 0.75rem;
$fs-caption: 1.5rem;
$fs-slider-text: 5rem;

$fw-regular: 400;
$fw-bold: 600;

$letter-space-h1: 0.18em;
$letter-space-h2: 0.16em;
$letter-space-h3: 0.08em;
$letter-space-small: 0.05em;
$letter-space-slider-text: 0.16em;

$line-height-text: 148%;
$line-height-h1: 150%;
$line-height-h2: 152%;
$line-height-middle: 130%;
$line-height-small: 100%;
