$border-radius-small: 12px;
$border-radius-large: 20px;

$transition: all 0.5s ease-in-out;

$gap-unit-small: 0.5rem;
$gap-unit-medium: 0.75rem;
$gap-unit-large: 1.25rem;
$gap-unit-extra-large: 3.75rem;